.App {
  width: 563px;
  height: 1218px;
  background: black;
  color: white;
  border-radius: 50px;
  padding: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* center the div */
  margin: 0 auto;
  margin-top: 5%;
}

.top {
  height: 250px;
  padding: 0 20px;
}

.display {
  font-size: 130px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: right;
}

/* grid-template determines how many rows and columns, and size.
unit fr stands for fractional unit, and repeating "1fr" 5 times will distribute equally. */

.butons {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(5 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.bottom {
}
